.AnnouncePreview{
    width: 100%;
    padding: 10px 14px;
    overflow: hidden;
    font-size: 14px;
    line-height: 14px;
}
.Icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    margin-right: 11px;
}