/*容器样式*/

.wraperBox {
  background: #fff;
  min-height: 900px;
  width: 100%;
  background: #f5f5f5;
}

.viewBox {
  padding: 20px;
  width: 100%;
}

.line {
  height: 1px;
  border-top: 1px solid #ededed;
  width: 100%;
  margin: 20px 0;
}

/*标题样式*/

.select {
  font-size: 16px;
}

/*操作台样式*/

.handleBox {
  border: 1px solid #e2e9e7;
  background: #fff;
  padding: 20px 24px 12px 24px;
}

.t1 {
  clear: both;
}

.videoType {
  display: inline-block;
  height: 28px;
  font-size: 14px;
  color: #333;
  line-height: 28px;
  vertical-align: top;
  margin-right: 20px;
}

.t2 {
  overflow: hidden;
  text-align: right;
}

.FileName {
  height: 40px;
  background: #f2f2f2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 3px;
  width: 150px;
  overflow: hidden;
  float: left;
}

.FileName p {
  color: #2a2f31;
  margin: 12px 0 0 12px;
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: center;
}

.chooseFile {
  display: inline-block;
  /*width: 87px;*/
  height: 28px;
  border-radius: 4px;
  vertical-align: top;
  margin: 8px!important;
}

.submit {
  color: #999;
  display: inline-block;
  /*float:left;*/
  vertical-align: middle;
  margin: 8px auto auto;
}

.delete_btn {
  width: 18px;
  height: 18px;
  background-color: #333;
  float: right;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  top: 12px;
  right: 7px;
}

.delete_vertical {
  width: 8px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.delete_horizontal {
  width: 8px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*视频列表*/

.pictureListBox {
  margin-top: 20px;
  border: 1px solid #e2e9e7;
  background: #fff;
  padding: 20px;
  width: 100%;
}

.pictureListBody {
  border: 1px solid #ededed;
  overflow: hidden;
  padding-bottom: 20px;
}

.pictureListTitle {
  background: #f7f9f8;
  height: 40px;
  width: 100%;
  overflow: hidden;
}

.pictureDetailListTitle {
  background: white;
  height: 40px;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.pictureTitle {
  font-size: 14px;
  display: inline-block;
  margin: 10px auto auto 30px;
}

.pictureListBox .turnBtn {
  float: left;
  margin: 10px 0 0 13px;
}

.pictureIcon {
  font-size: 18px;
  float: left;
}

.pictureTitleWord {
  margin-left: 8px;
  float: left;
}

.duplicationNameButton {
  margin: 5px 8px 0 0;
  float: right;
}

.backImageLibraryBox {
  margin: 10px 8px 0 0;
  float: right;
}

.pictureListUl {
  padding-top: 25px;
  margin-left: -20px;
  overflow: hidden;
  max-width: 1450px;
}

.pictureCard {
  width: 120px;
  height: 120px;
  float: left;
  margin-left: 40px;
  text-align: center;
}

.pictureCard:hover {
  background: #f8faf9;
  cursor: pointer;
}

.fileIcon {
  font-size: 40px;
  color: #d52632;
  margin-top: 20px;
}

.fileIconGray {
  font-size: 40px;
  color: #999;
  margin-top: 20px;
}

.fileName {
  width: 100%;
  text-align: -webkit-center;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.fileNameRed {
  width: 100%;
  text-align: -webkit-center;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #d52632;
}

.searchInput {
  /*float:left;*/
  width: 200px!important;
  margin: 8px auto auto 10px;
  vertical-align: middle;
  /*margin:4px 0 0 20px;*/
}

/*图片详情列表*/

.pictureDetailListBox {
  margin-top: 20px;
  border: 1px solid #e2e9e7;
  background: #fff;
  padding: 20px;
  width: 100%;
}

.pictureDetailListBox .turnBtn {
  cursor: pointer;
  float: left;
  margin: 10px 0 0 13px;
}

.chooseNum {
  margin: 10px 0 0 30px;
  float: left;
}

.pictureDetailListcard {
  height: 162px;
  width: 120px;
  margin-left: 70px;
  float: left;
}

.checkall {
  margin: 10px 0 0 30px;
}

.picturnDetailImg {
  height: 120px;
  width: 120px;
}

.picturnDetailName {
  margin: 5px 0 0 10px;
}

.deleteBtn {
  float: right;
  margin: 8px 15px 0 0;
  height: 24px!important;
}

.hint {
  color: #999;
}

.btnType2 {
  position: relative;
  width: 120px;
  height: 162px;
  margin-left: 70px;
}

.btnType2 button {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  margin: 0 !important;
  opacity: 0;
}

.fileUploadIcon {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: url("./images/add_picture.png") no-repeat center;
  background-size: 100%;
  pointer-events: none;
}

.goodsItemStyle {
  width: 80px;
  margin-left:80px;
  float: left;
  margin-bottom: 15px;
}


.goodsTitle {
  text-align: center;
  height: 18px;
  color: #333333;
  font-size: 12px;
  overflow: hidden;
}

.goodsPictureBox {
  position: relative;
  margin: 15px auto;
}

.userLabel {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
  background: url('./images/user.png') no-repeat center;
  background-size: cover;
  pointer-events: none;
}

.goodsPicture {
  width:80px;
  height:80px;
}

.previewLogoBox {
  width: 375px;
  height: 667px;
  overflow-y: auto;
  margin: -16px;
}

.previewLogo {
  display: block;
  width: 375px;
}

.btnBox {
  text-align: center;
}

.btnBox a {
  font-size: 12px;
  color: #5599FF;
  cursor: pointer;
}

.btnBox span {
  font-size: 12px;
  color: #3F3F3F;
  display: inline-block;
  width: 3px;
  height: 17px;
  margin: 0 10px;
}

/* 模板编辑 */

.editTemplateBox {
  border: 1px solid #e2e9e7;
  background: #fff;
  padding: 20px;
  width: 100%;
}

.goodsNameBox {
  overflow: hidden;
  margin-bottom: 15px;
}

.goodsName {
  font-size: 12px;
  color: #333333;
  display: block;
  float: left;
  margin: 5px 18px 0 0;
  width: 80px;
  text-align: right;
}

.goodsNameBox .inputStyle {
  width: 400px;
}

.imageTextBox {
  float: left;
}

.itemStyle {
  margin-bottom: 15px;
}

.goodsTextBox {
  position: relative;
  margin-top: 15px;
}

.goodsTextBox .inputNumber {
  position: absolute;
  right: 35px;
  bottom: 0;
  padding: 10px;
}

.goodsTextBox .textAreaStyle {
  width: 400px;
  height: 88px;
  resize: none;
}

.combineImageBox {
  position: relative;
  width: 170px;
  height: 155px;
}

.combineImageBox img {
  position: absolute;
  display: block;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.combineImageBox .combineTop {
  width: 100px;
  height: 100px;
  left: 35px;
  top: 0;
}

.combineImageBox .combineBottom {
  left: 65px;
  bottom: 0;
}

.combineImageBox .combineLeft {
  left: 0;
  bottom: 20px;
}

.combineImageBox .combineRight {
  right: 0;
  bottom: 20px;
}

.buttonGrop {
  text-align: center;
  margin-top: 40px;
}

.buttonGrop .buttonItem {
  width: 240px;
  height: 44px;
  line-height: 44px;
  margin: 0 20px;
}

.addGoods {
  width: 66px;
  height: 30px;
  border: 1px solid #D83F3F;
  border-radius: 100px;
  font-size: 12px;
  color: #D83F3F;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}

.addGoods span {
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
  height: 30px;
  line-height: 20px;
}

.delTemplate {
  font-size: 12px;
  color: #5599FF;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  cursor: pointer;
}

/* 预览 模板*/

.previewBox {
  height: 667px;
  margin: -16px;
  overflow-y: auto;
}

.previewImg {
  display: block;
  width: 100%;
  height: 280px;
}

.previewText {
  font-family: PingFangSC-Semibold;
  font-size: 12px;
  color: #2B2929;
  line-height: 16px;
  padding: 0 15px;
  margin: 15px 0;
}

.previewImageBox {
  margin: 15px auto;
  width: 250px;
}

.previewImageBox img {
  display: inline-block;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.previewImageBox .combineTop {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  display: block;
}

.previewImageBox .combineBottom {
  margin: 15px 30px 0 38px;
}

.previewImageBox .combineBottom.active {
  margin: 15px 30px 0 100px;
}

.previewImageBox .combineLeft, .previewImageBox .combineRight {
  margin: 0 0 30px 0;
}

/* 选择图片 */

.choiceTitle {
  font-size: 14px;
  color: #333333;
}

.choicePictureList {
  margin: 20px auto 30px;
  width: 450px;
  height: 80px;
  overflow-y: auto;
}

.choicePictureList li {
  float: left;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  border: 1px dotted #cccccc;
  cursor: pointer;
}

.choicePictureList li img {
  display: block;
  width: 100%;
  height: 100%;
}

.choicePictureList li.active {
  border: 1px dotted #D83F3F;
}

.uploadPictureBox {
  margin: 20px 0 0 120px;
  width: 80px;
  height: 80px;
  padding: 0;
  border: none;
  color: #333333;
}

.uploadPictureBox.active {
  border: 1px dotted #D83F3F;
  width: 82px;
  height: 82px;
}

.uploadPicture {
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: block;
}

.uploadTip {
  font-size: 12px;
  color: #999999;
  margin: 15px 0 0 120px;
}

/*分页样式*/

.paginationBox {
  overflow: hidden;
  margin-top: 20px;
}

.previewName {
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #101010;
}

.paginationHtml {
  float: right;
  margin-right: 25px;
}

.paginationBox p {
  height: 28px;
  line-height: 28px;
  float: right;
  margin-right: 10px;
}

.progressBox {
  height: 240px;
  width: 200px;
  background: #fff;
  border: 1px solid #e9e9e9;
  position: fixed;
  top: 200px;
  z-index: 9999;
}

.progressTitle {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.errorBox {
  margin-top: 20px;
  max-height: 240px;
  border: 1px solid #e2e9e7;
  overflow-y: auto;
}

.errorBox ul {
  overflow: hidden;
  border-bottom: 1px solid #e2e9e7;
}

.errorBox ul:nth-last-of-type(1) {
  overflow: hidden;
  border-bottom: none;
}

.errorBox ul li {
  float: left;
  width: 119px;
  border-right: 1px solid #e2e9e7;
  text-align: center;
  line-height: 32px;
  height: 32px;
}

.errorBox ul li:nth-last-of-type(1) {
  border-right: none;
  width: 219px;
}

.errorBox ul:nth-child(odd) {
  background: #f5f7f6;
}
.select_wrapper {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    padding: 20px 24px 12px 24px
}
.select_title{
    font-size: 16px;
}
.base_select {
    width: 20em;
    margin: 0 20px;
    line-height: 30px;
    height: 30px;
}
.example{
  display: inline-block;
  padding: 0 5px;
  margin-left: 5px;
  background-color: dodgerblue;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}