.wrapper {
    background-color: #fafafa;
    cursor: pointer;
    height: 80px;
    user-select: none;
    width: 80px;
}

.placeholder {
    color: #b4b4b4;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    border: 1px dashed #b4b4b4;
}

.imgWrapper {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    border: 1px solid #eee;
}
.imgWrapper img {
    max-width: 80px;
    max-height: 80px;
}
