.content {
    padding: 0;
}

.loading, .loadFailed {
    color: #444;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 90px 0;
    text-align: center;
}

.designWrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
}
