.titlePreview{
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.titlePreview p{
    width: 350px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.titlelarge{
    font-size: 18px
}
.titlemedium{
    font-size: 14px
}
.titlesmall{
    font-size: 12px
}
