.dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.panel {
  position: absolute;
  width: 450px;
  top: 50%;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: white;
}
.uddTop {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: #333;
  margin-left: 14px;
}
.uddPan {
  text-align: center;
}
.uddBox {
  margin-bottom: 15px;
}
.uddBox:nth-child(1) {
  margin-bottom: 25px;
}
.uddBox:nth-child(2) {
  margin-bottom: 25px;
}
.uddBox:nth-child(3) {
  margin-bottom: 25px;
}
.uddItem {
  position: relative;
  display: inline-block;
}
.uddItem > span {
  position: absolute;
  top: 50%;
  transform: translate(-115%, -50%);
}

.inputText {
  border-width: 0;
  width: 200px;
  height: 32px;
  border-radius: 4px;
  text-indent: 8px;
  border: 1px solid #cccccc;
}
.tipText {
  position: absolute;
  height: 20px;
  line-height: 20px;
  color: #999999;
  font-size: 8px;
  word-break: keep-all;
}
.imageDragger {
  width: 200px;
  height: 70px;
  display: inline-block;
}
.imageUrl {
  width: 200px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
}
.groundSelect {
  width: 200px;
  text-align: left;
  display: inline-block;
}

.bottom {
  border-top: 1px solid #e5e5e5;
  height: 52px;
  line-height: 52px;
  text-align: right;
}
.uddButton {
  width: 88px;
  height: 32px;
  margin-right: 15px;
}
