.placeholderWrapper {
    top: -64px !important;
}

.placeholder {
    align-items: center;
    display: flex;
}
.placeholder img {
    height: 18px;
    margin-right: 8px;
}

.editor {
    display: flex;
}
.label {
    color: #333;
    flex-shrink: 0;
    margin-right: 1em;
}
.desc {
    color: #9b9b9b;
    margin-top: 0.5em;
}
.resetBtn{
    margin-top: 0.5em;
}