.main_wrapper {
    padding-top: 40px;
    padding-left: 45px;
    padding-right:40px;
    overflow: hidden;
    width: 100%;
    /*min-width: 1543px;*/
}

.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.top_line {
    /*max-width:1405px;*/
    overflow: hidden;
    padding-bottom: 22px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background: #fff;
}

.import_part {
    padding-right: 30px;
    float: left;
}

.chose_area {
    display: inline-block;
    width: 87px;
    height: 28px;
    border-radius: 4px;
    vertical-align: top;
    margin:8px!important;
}

.chose_text {
    width: 82px;
    height: 26px;
    float: left;
    line-height: 26px;
    font-size: 16px;
    color: #999;
}

.chose_btn {
    width: 26px;
    height: 26px;
    background-color: #d52632;
    border-radius: 4px;
    float: right;
    position: relative;
}

.chose_vertical {
    width: 1px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.chose_horizontal {
    width: 13px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.view_area {
    width: 150px;
    height: 40px;
    display: inline-block;
    float: left;
    vertical-align: top;
    background-color: #f2f2f2;
    border-radius: 3px;
    overflow: hidden;
    margin:25px 24px 0 0px;
}

.view_text {
    color: #2a2f31;
    margin: 12px 0 0 12px;
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.chooseFile{
    display: inline-block;
    width: 87px;
    height: 28px;
    border-radius: 4px;
    vertical-align: top;
    margin:8px!important;
}
.delete_btn {
    width: 18px;
    height: 18px;
    background-color: #333;
    float: right;
    border-radius: 4px;
    position: relative;
    top:11px;
    right:8px;
    cursor: pointer;
}
.fileupload{
    float: left;
    margin:25px 28px 0 0;
}
.delete_vertical {
    width: 8px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.delete_horizontal {
    width: 8px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.submit_btn_wrapper {
    padding: 10px;
}

.submit_btn {
    width: 124px;
    height: 42px;
    background-color: #d52632;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    line-height: 42px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(213, 38, 50, 0.4);
    cursor: pointer;
}

/*
* 导出部分
*
 */

.export_part {
    height: 68px;
    width: 400px;
    padding-top: 12px;
    margin-left: 30px;
    float: left;
}

.secondButton, .primaryButton {
    display: inline-block;
    width: 124px;
    float: left;
    height: 34px;
    font-size: 12px;
    border-radius: 4px;
    margin-top:29px;
}

.secondButton {
    margin-left:20px;
}

.vertical_line{
    height:36px;
    width:1px;
    border-right:1px solid #e2e9e7;
    float: left;
    margin: 28px 35px 0 35px;
}

.primaryButton {
    color: #fff;
    background-color: #d52632;
    box-shadow: 0 4px 10px rgba(213, 38, 50, 0.4);
}

.export_btn {
    margin-left: 40px;
}

