.wrapper:not(:first-child) {
    border-top: 1px solid #e6e6e6;
}

.header {
    align-items: center;
    background-color: #fafafa;
    cursor: pointer;
    display: flex;
    height: 36px;
    padding: 0 15px;
    user-select: none;
}
.groupName {
    margin-right: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    font-size: 12px;
}
.switchBtn {
    background-image: url("https://assets.2dfire.com/frontend/9989a2f157c020e4e363611a1a580bd7.png");
    background-size: cover;
    height: 12px;
    transform: rotate(-180deg);
    transition: transform .3s cubic-bezier(.23,1,.32,1);
    width: 12px;
}
.switchBtn.close {
    transform: rotate(0deg);
}

.components {
    opacity: 1;
    overflow: hidden;
    padding: 5px 5px 15px;
    transition: all .3s cubic-bezier(.23,1,.32,1);  /*参考淘宝店铺装修*/
}
.components.close {
    height: 0;
    opacity: 0;
    padding: 0 5px;
}
