
.NavPreview{
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 0;
}
.classic {
  width: 60px;
  height: 60px;
}
.navList{
  width: 375px;
  font-size: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  height: 51px;
  justify-content:space-between;
  
}
.navList .navLi{
  height: 51px;
  text-align: center;
  background: #F3F9FF;
  margin-right: 4px;
  display: inline-block;
  vertical-align: top;
}
.navList .light {
  width: 24.5px;
  height: 24.5px;
  margin: 5.2px auto;
  background: #B4DDFF;
}
.navList img {
  width: 24.5px;
  height: 24.5px;
  margin: 5.2px auto;
}
.navList li p{
  font-size: 10px;
  color: #48ACFF;
  text-align: center;
  line-height: 9px;
}