body {
  color: #333333;
  background: url("https://assets.2dfire.com/frontend/72337c8e1aa9c469abe6629ba9cd5a14.jpg");
  background-repeat: repeat;
  overflow: hidden;
}

body .router-view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
}

.c-ff0033 {
  color: #f03;
}
.c-0088FF {
  color: #0088FF;
}
.f-l {
  float: left;
}

.clear-fix:before,
.clear-fix:after {
  display: table;
  content: " ";
}

.clear-fix:after {
  clear: both;
}