.lx-toast {
  position: fixed;
  bottom: 100px;
  left: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 80%;
  height: 80px;
  line-height: 80px;
  padding: 0 40px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  text-align: center;
  z-index: 9999;
  font-size: 28px;
  color: #fff;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  animation: show-toast .5s;
  -webkit-animation: show-toast .5s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lx-toast.lx-word-wrap {
  width: 80%;
  white-space: inherit;
  height: auto;
}

.lx-toast.lx-toast-top {
  top: 50px;
  bottom: inherit;
}

.lx-toast.lx-toast-center {
  top: 50%;
  margin-top: -20px;
  bottom: inherit;
}

@-webkit-keyframes show-toast {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-toast {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lx-load-mark {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.lx-load-box {
  position: fixed;
  z-index: 3;
  width: 7.6em;
  min-height: 7.6em;
  top: 180px;
  left: 50%;
  margin-left: -3.8em;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-radius: 5px;
  color: #FFFFFF;
}

.lx-load-content {
  margin-top: 64%;
  font-size: 14px;
}