.seachPreview{
    width: 100%;
    padding: 12px;
    overflow: hidden;
}
.seachinput{
    width: 320px;
    padding:8px;
    margin: 0 auto;
    line-height: 35px;
    background: #ffffff;
    font-size: 14px;
}
.seachsquare{
    border-radius: 8px
}
.seachround{
    border-radius: 40px
}
