.index-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #dedede;
}

.loading {
    width: 80px;
    height: 80px;
    background-image: url("https://assets.2dfire.com/frontend/b82c1971977bce58be2d9750a28c63c4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: rolling 2s linear infinite;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -20px;
}

@keyframes rolling {
    0% {
        transform: rotate(0deg);
    }
    65% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}