/*容器样式*/
.wraperBox {
  background: #f5f5f5;
  min-height: 900px;
  width: 100%;
  overflow-x: auto;
}

.viewBox {
  padding: 20px;
  width: 100%;
}

.line {
  height: 1px;
  border-top: 1px solid #ededed;
  width: 100%;
  margin: 20px 0;
}

/*标题样式*/
.select {
  font-size: 16px;
}

/*操作台样式*/
.handleBox {
  border: 1px solid #e2e9e7;
  background: #fff;
  padding: 20px 24px 12px 24px;
}

.handleBox2 {
  border: 1px solid #e2e9e7;
  background: #fff;
  padding: 20px 24px 12px 24px;
  margin-top: 20px;
}

/*===========================================*/
.h3 {
  margin: 20px 0 10px 0;
}

.block {
  display: inline-block;
}

.select {
  width: 300px;
}

.input {
  width: 160px !important;
  vertical-align: middle;
}


.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input2 {
  width: 100px !important;
  vertical-align: middle;
}

.main_p {
  margin: 0 0 10px;
  line-height: 50px;
}

.main_title {
  margin-right: 10px;
}

.main_title2 {
  margin: 0 10px;
}

.btn {
  vertical-align: middle;
  margin-left: 50px;
}
.export_btn {
  vertical-align: middle;
  margin-left: 20px;
}

.set_btn {
  vertical-align: middle;
}

.btn_primary, .btn_primary2 {
  vertical-align: middle;
  width: 4em;
  box-sizing: content-box;
}

.btn_primary {
  margin: 0 20px;

}

.btn_primary2 {
  vertical-align: middle;
}

.hintIcon {
  vertical-align: middle;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.st_select {
  width: 100px;
}

.st_select1 {
  width: 150px;
  margin-right: 10px;
}
.select_title{
  width: 100px;
  margin: auto 0 auto 20px;
}
.split{
  margin: auto 10px;
}
.date {
  width: 120px;
}
.errorConfirm{
  color: #f04134 !important;
}
.setListTitle{
  margin-bottom: 20px;
}
.setListBack{
  color: #ccc;
  margin-right: 5px;
}

.pageBox {
  margin-top: 20px;
  text-align: right;
}
.page{
  margin:  0 10px;
}
.pageBtn{
  margin:  0 10px;
  cursor: pointer;
}
.pageBtn:hover{
  color:#d52632 ;
}

