/*零售管理组件的样式*/
.retail_manage_container{
    height: 50px;
    width: 100%;
    background-color: #ffffff;
}

.goods_cate_tab {
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
}

.goods_cate_tab li {
    display: inline-block;
    margin: 0 10px;
}

.active {
    color: red;
}

.goods_cate_tab li:first-child {
    margin-left: 20px;
}
