.rankingPreview{
    width: 375px;
  }
  .rankImg{
    width: 355px;
    margin: 0 auto;
    padding: 10px 0;
  }
  .rankBigImg{
    font-size: 0;
    margin-bottom: 10px;
  }
  .rankBigImg .defultImg{
    width:355px;
    height: 240px;
    margin-bottom: 13px;
    position: relative;
  }
  .rankBigImg .rankShopName{
    font-size: 16px;
    color: #5A5A5A;
    line-height: 16px;
    margin-bottom: 12px;
    height: 16px;
  }
  .rankBigImg .rankOrder{
    font-size: 0
  }
  .rankBigImg .rankOrder .rankPrice{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #D83F3F;
    line-height: 16px;
    width: 295px;
  }
  .rankDetailedImg{
    font-size: 0;
    margin-bottom: 10px;
  }
  .rankDetailedImg .defultImg{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 145px;
    height: 145px;
    margin-bottom: 13px;
    position: relative;
  }
  .defultImg .logo{
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .defultImg  .imgItem{
    width: 100%;
    height: 100%;
  }
  .defultImg .rankSuperscript{
    position: absolute;
    left: 0;
    top: 0;
    width: 37px;
    height: 37px;
  }
  .defultImg .rankSuperscript1{
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 16px;
  }
  .defultImg .rankSuperscript2{
    position: absolute;
    left: 0;
    top: 0;
    width: 37px;
    height: 37px;
  }
  .rankDetailedImg .rankDetailedInfo{
    display: inline-block;
    vertical-align: top;
    width: 190px;
  }
  .rankDetailedImg .rankShopName{
    width: 190px;
    font-size: 16px;
    color: #5A5A5A;
    line-height: 20px;
    margin: 10px 0 60px;
    display:-webkit-box;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    height: 40px;
  }
  .rankDetailedImg .rankOrder{
    font-size: 0
  }
  .rankDetailedImg .rankOrder .rankPrice{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #D83F3F;
    line-height: 16px;
    width: 130px;
  }

  .rankDoubleImg{
    display: inline-block;
    margin:0 19px 19px 0
  }
  .rankDoubleImg:nth-child(2n){
    margin-right: 0px
  }
  .rankDoubleImg .rankDoubleList{
    display: inline-block;
    vertical-align: top;
    width: 168px;
  }
  .rankDoubleImg .defultImg{
    margin-right: 10px;
    width: 168px;
    height: 172px;
    margin-bottom: 10px;
    position: relative;
  }
  .rankDoubleImg.rankdoubleInfo{
    width: 168px;
  }
  .rankDoubleImg .rankdoubleInfo{
    width: 168px;
  }
  .rankDoubleImg .rankShopName{
    width: 168px;
    font-size: 14px;
    color: #5A5A5A;
    line-height: 20px;
    margin-bottom: 12px;
    height: 16px;
  }
  .rankDoubleImg .rankOrder{
    font-size: 0
  }
  .rankDoubleImg .rankOrder .rankPrice{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #D83F3F;
    line-height: 16px;
    width: 108px;
  }

  .rankOrder .rankOrderBut1{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #D83F3F;
    text-align: center;
    background: #fff;
    border: 1px solid #D83F3F;
    border-radius: 3px;
    width: 60px;
    height: 26px;
    line-height: 26px;
  }

  .rankOrder .rankOrderBut2{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    background: #D83F3F;
    border: 1px solid #D83F3F;
    border-radius: 3px;
    width: 60px;
    height: 26px;
    line-height: 26px;
  }

  .rankOrder .rankCartBut1{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: url('https://assets.2dfire.com/frontend/4076293375fbb4f25675871bd2ff73a1.png') no-repeat;
    background-size: 100% 100%;
    margin-left: 35px;
  }
  .rankOrder .rankCartBut2{
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 25px;
    background: url('https://assets.2dfire.com/frontend/c252c2f2953bc24fb29184bcdfe27fa0.png') no-repeat;
    background-size: 100% 100%;
    margin-left: 16px;
  }
  .rankOrder .rankCartBut3{
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 25px;
    background: url('https://assets.2dfire.com/frontend/a2fbac50631eb7af0d11634d5983e02f.png') no-repeat;
    background-size: 100% 100%;
    margin-left: 16px;
  }
