.property_manage_body {
    overflow: hidden;
    margin: 20px auto 0;
    padding-bottom: 10px;
}

.property_tabs span {
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    background-color: #f8f8f8;
}

.active {
    color: #d83f3f !important;
    background-color: #ffffff !important;
}

.spec_manage_box {
    position: relative;
    box-sizing: border-box;
    padding: 60px 10px 10px;
    background-color: #ffffff;
}
.add_spec_absolute {
    position: absolute;
    top: 20px;
    right: 10px;
}
.spec_body_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    text-align: left;
    background: rgba(241, 241, 241, 1);

}

.spec_body_title span:first-child {
    width: 80%;
    padding-left: 15px;
    display: inline-block;
}
.spec_body_title span:nth-child(2) {
    width: 20%;
    display: inline-block;
}

.spec_list_box {

}

.property_tabs {

}

.spec_list {
    position: relative;
    width: 100%;
    min-height: 50px;
    color: #333333;
    font-size: 12px;
}

.spec_title {
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(238, 238, 238, 1);

}

.table_title_name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

.table_title_name span:nth-child(2) {
    margin-left: 10px;
}

.spec_opt {
    width: 30%;
    color: #5599FF;
}
.spec_opt span:nth-child(2){
    margin-left: 10px;
}

.spec_add {

}

.spec_del {
    position: relative;
    margin-left: 10px;
}
.spec_del:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translate(0, -50%);
    width: 1px;
    height: 12px;
    background-color: #ccc;
}

.spec_group {
    max-height: 300px;
    overflow-y: scroll;
}

.spec_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(238, 238, 238, 1);
}

.spec_name {
    flex-basis: 70%;
    padding-left: 40px;
}

.spec_item_opt {
    flex-basis: 30%;
    color: #5599FF;
}

.fold {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 1px solid rgba(216, 63, 63, 1);
}

.fold:before,
.fold:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 2px;
    transform: translate(-50%, -50%);
    background-color: rgba(216, 63, 63, 1);
}

.unfold {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 1px solid rgba(216, 63, 63, 1);
}

.unfold:before,
.unfold:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(216, 63, 63, 1);
}

.unfold:before {
    width: 10px;
    height: 2px;
}

.unfold:after {
    width: 2px;
    height: 10px;
}

.unit_manage_box {
    position: relative;
    box-sizing: border-box;
    padding: 60px 10px 10px;
    background-color: #ffffff;
}
.add_unit_absolute {
    position: absolute;
    top: 20px;
    right: 10px;
}
.unit_body_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    text-align: left;
    background: rgba(241, 241, 241, 1);
}

.unit_body_title span:first-child {
    width: 80%;
    padding-left: 15px;
    display: inline-block;
}
.unit_body_title span:nth-child(2) {
    width: 20%;
    display: inline-block;
    text-align: left;
}

.unit_list_box {

}

.unit_list {
    width: 100%;
    color: #333333;
    font-size: 12px;
}

.unit_item {
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(238, 238, 238, 1);
}

.unit_name {
    flex-basis: 80%;
    text-align: left;
}

.chain_bg {
    padding: 0 3px;
    width: 32px;
    height: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 16px;
    font-size: 10px;
    color: #ffffff;
    background-color: #5599ff;
}

.unit_group {
    flex-basis: 20%;
    text-align: left;
    color: #5599FF;
}
.unit_group_disable {
    flex-basis: 20%;
    text-align: left;
    color: #ccc;
}

.add_spec_container {

}
.box_bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}
.add_spec_box {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 450px;
    z-index: 1001;
    border-radius:4px;
    padding: 10px 10px 0;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}
.add_title {
    font-size: 14px;
    color: #333333;
}
.add_spec_name,
.add_spec_value {
    margin: 15px auto 0;
    font-size: 14px;
    width: 280px;
}
.add_spec_name span,
.add_spec_value span{
    display: inline-block;
    width: 70px;
    font-size: 14px;
    text-align: right;

}
.add_spec_name input,
.add_spec_value input {
    margin-left: 10px;
    padding-left: 10px;
    width: 200px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 1);
}
.add_spec_btn {
    margin: 15px auto 0;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 100px;
    color: rgba(216,63,63,1);
    border: 1px solid rgba(216,63,63,1);
}
.add_spec_btn .icon_add {
    position: relative;
    margin-left: 15px;
    width: 10px;
    height: 10px;
}
.add_spec_btn .icon_add:before,
.add_spec_btn .icon_add:after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 12px;
    transform: translate(-50%, -50%);
    background: rgba(216, 63, 63, 1);
}
.add_spec_btn .icon_add:before {
    width: 2px;
    height: 12px;
}
.add_spec_btn .icon_add:after {
    width: 12px;
    height: 2px;
}
.add_spec_btn .text {
    margin-left: 15px;
}
.add_spec_bottom {
    margin-top: 15px;
    border-top: 1px solid #eee;
    height: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn_cancel,
.btn_save {
    width: 88px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    border: 1px solid rgba(204,204,204,1);
}
.btn_cancel {
    color: #333333;
}
.btn_save {
    margin-left: 20px;
    color: #ffffff;
    background-color: #D83F3F;
}



