.previewItem{
  position: relative;
  box-sizing: border-box;
  border: 0;
}
.actionBtnDelete{
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 15;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}
.DeleteImg{
  position: absolute;
  right: -6px;
  top: -3px;
  width: 20px;
  height: 20px;
  display: none;
  z-index: 2;
  
}
.zent-design-preview-controller__drag-handle{
  width: 100%;
  height: 100%;
  position: relative;
}
.zent-design-preview-controller__drag-handle:hover .DeleteImg{
  display: block;
}

.previewControllerSelect{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px dashed #d52632;
  border-radius: 6px;
  z-index: 1;
}

.zent-design-preview-controller__nav{
  height: 86vh;
}

.iconDelete{
  position: absolute;
  right: 0;
  top: 0;
}