$blue: #44A1FF;
$green: #42b983;
$darkerGreen: #3ba776;
$darkerOrange: #E08031;
$darkerRed: #F04031;

$wide: 820px;

$tall: 300px;

$active-color: $darkerOrange;
$success-color: $darkerGreen;
$error-color: $darkerRed;
$border-color: #dddddd;
$component-color: $active-color;

