*,
:after,
:before {
  box-sizing: border-box;
}
.nav {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #272727;
  color: #ffffff;
  z-index: 100;
  padding-left: 40px;
}

.nav-wrap {
  position: relative;
}

.logo {
  display: inline-block;
  height: 70px;
  line-height: 70px;
}

.logo-img {
  width: 88px;
  height: 34px;
  float: left;
  margin-top: 18px;
  padding-right: 10px;
}

.logo-name {
  font-size: 16px;
  padding: 2px 0 2px 10px;
  border-left: 1px solid #666666;
}

.nav-bar {
  height: 70px;
  display: flex;
  position: absolute;
  top: 0;
  right: 190px;
  background: #272727;
  min-width: 116px;
}
.nav-item-parent {
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  padding: 8px 30px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-item-parent::after {
  content: ' ';
  height: 8px;
  width: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: rotateZ(135deg) translateY(-50%);
  transform-origin: top;
}
.nav-item-parent:hover .nav-item-child {
  transform: scale(1);
}
.nav-item-parent .nav-item-child {
  position: absolute;
  top: 100%;
  left: 0;
  background: #404040;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  transform: scale(0);
  transition: all 0.3s;
  transform-origin: top;
}
.nav-item-child .nav-item {
  width: 100%;
  justify-content: center;
}
.nav-item {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  padding: 8px 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-item:hover {
  color: #e2e2e2;
}

.nav-active::after {
  content: ' ';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #d52632;
}
@media screen and (max-width: 700px) {
  .nav-bar {
    flex-direction: column;
    right: 0;
    top: 70px;
    height: auto;
  }
  .nav-item-parent::after {
    left: 10px;
    transform: rotateZ(-135deg) translateY(-50%);
  }
  .nav-item-parent .nav-item-child {
    top: 0;
    left: -100%;
    transform-origin: right;
  }
  .nav-item-parent:hover .nav-item-child {
    transform: scale(1);
  }
}
.account {
  font-size: 12px;
  color: #dcdcdc;
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 0;
  right: 40px;
  min-width: 100px;
}

.account-bar {
  height: 70px;
  line-height: 70px;
  font-weight: 300;
}

.account-icon {
  display: inline-block;
  height: 15px;
  width: 14px;
  margin-top: -5px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 9px;
  vertical-align: middle;
}

.account-arrow {
  display: inline-block;
  height: 7px;
  width: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 8px;
  vertical-align: middle;
}

.account-pop {
  position: absolute;
  width: 195px;
  height: auto;
  cursor: auto;
  right: -23px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(202, 202, 202, 0.26);
  transition: all 0.3s;
  opacity: 0;
  transform-origin: right top;
  transform: scale(0);
}

.account:hover .account-pop {
  opacity: 1;
  transform: scale(1);
}

.account-pop:before {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: -12px;
  left: 158px;
  border: 6px dashed transparent;
  border-bottom: 6px solid #ffffff;
  font-size: 0;
  line-height: 0;
}

.pop-info {
  padding: 9px 15px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 12px;
  color: #333333;
}

.info-name {
  font-size: 14px;
}

.pop-footer {
  padding: 13px 15px;
}

.pop-btn {
  font-size: 12px;
  cursor: pointer;
}

.pop-btn-shift {
  color: #5599ff;
  float: left;
}
.pop-btn-shift:hover {
  color: #3f8dd8;
}

.pop-btn-logout {
  color: #d83f3f;
  float: right;
}
.pop-btn-logout:hover {
  color: #b13232;
}

.info-avatar {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  background: #999999;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
}

.info-avatar .avatar-icon {
  margin-top: 8px;
  display: inline-block;
  height: 15px;
  width: 14px;
  background-size: cover;
  background-repeat: no-repeat;
}

.info-user {
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px;
}

.user-name {
  margin: 0;
  font-size: 14px;
  color: #333333;
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-phone {
  margin: 0;
  color: #666666;
  font-size: 12px;
}

.info-shop {
  margin: 0 0 10px 0;
  font-size: 12px;
}
.info-level {
  margin: 0;
  font-size: 12px;
}

.clear {
  clear: both;
}
