@import '../icon/iconfont.css';

html {
    background: url('https://assets.2dfire.com/frontend/4a4ebdba3287a31d9d27b380c83f300c.png') no-repeat center;
    background-size: cover;
}

.fl-left {
    float: left;
}

.theme-prev {
    color: #0088FF;
}

.theme-search{
    color: #999;
}

.pull-left {
    float: left;
}

.p-l {
    padding-left: 30px;
}

.p-r {
    padding-right: 30px;
}

.error-toast {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    width: 360px;
    line-height: 40px;
    padding: 44px;
    color: white;
    text-align: center;
    z-index: 120;
    border-radius: 26px;
    font-size: 30px;
}

.border-f,
.border-b,
.border-b-c,
.border-t,
.border-t-c,
.border-l,
.border-r {
    position: relative;
}

.border-f:before,
.border-b:before,
.border-b-c:before,
.border-t:before,
.border-t-c:before,
.border-l:before,
.border-r:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.border-f:before {
    border: 1PX solid #ccc;
}

.border-b:before {
    border-bottom: 1PX solid #e6e6e6;
}

.border-b-c:before {
    border-bottom: 1PX solid #ccc;
}

.border-t:before {
    border-top: 1PX solid #e6e6e6;
}

.border-t-c:before {
    border-top: 1PX solid #ccc;
}

.border-l:before {
    border-left: 1PX solid #ccc;
}

.border-r:before {
    border-right: 1PX solid #ccc;
}

@media (-webkit-min-device-pixel-ratio: 2) {

    .border-f:before,
    .border-b:before,
    .border-b-c:before,
    .border-t:before,
    .border-t-c:before,
    .border-l:before,
    .border-r:before {
        width: 200%;
        height: 200%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }
}

.relative {
    position: relative;
    z-index: 1;
}

.input-wrapper {

    input::-webkit-input-placeholder,
    input:disabled::-webkit-input-placeholder {
        text-align: right;
        font-size: 30px;
        color: #ff0033;
        letter-spacing: 0;
    }

    input::-moz-placeholder,
    input:disabled::-moz-placeholder {
        text-align: right;
        font-size: 30px;
        color: #ff0033;
        letter-spacing: 0;
    }

    input:-ms-input-placeholder,
    input:disabled:-ms-input-placeholder {
        text-align: right;
        font-size: 30px;
        color: #ff0033;
        letter-spacing: 0;
    }

    // 灰色
    input.change-if::-webkit-input-placeholder,
    input.change-if:disabled::-webkit-input-placeholder {
        text-align: right;
        font-size: 30px;
        color: #cccccc;
        letter-spacing: 0;
    }

    input.change-if::-moz-placeholder,
    input.change-if:disabled::-moz-placeholder {
        text-align: right;
        font-size: 30px;
        color: #cccccc;
        letter-spacing: 0;
    }

    input.change-if:-ms-input-placeholder,
    input.change-if:disabled:-ms-input-placeholder {
        text-align: right;
        font-size: 30px;
        color: #cccccc;
        letter-spacing: 0;
    }
}

.main {

    input[type='text'],
    input[type='tel'],
    input[type='number'],
    input[type='email'] {
        border: 0;
        display: inline-block;
        line-height: 40px;
        width: 100%;
        padding: 0;
        vertical-align: middle;
        text-align: right;
        outline: 0;
        color: #0088ff;
        opacity: 1;
        font-size: 30px;

        &:disabled {
            background: transparent;
        }
    }

    i.closeicon {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-size: cover;
        margin: 28px 0 0 10px;
        vertical-align: top;
        background-image: url(https://assets.2dfire.com/frontend/cb35d2e0f3e58940fa7ae6e50ff2f7e2.png);
    }

    .h3 {
        margin: 72px 30px 20px;
        font-size: 30px;
        color: #333333;
        line-height: 40px;
        font-weight: 500;
        font-weight: bold;

        span {
            float: right;
            color: #0088FF;
            font-weight: normal;
        }
    }

    .input-main {
        background: #ffffff;
        padding: 0 0 0 30px;
        z-index: 0;

        .input-wrapper {

            .input-list {
                line-height: 88px;
                font-size: 30px;
                color: #333333;
                letter-spacing: 0;
                position: relative;
                overflow: hidden;
                display: flex;
                padding-right: 30px;
                z-index: 0;

                .select-title {
                    // info-select专有
                    color: #333333;
                }

                &:last-child {
                    border-bottom: 0;
                }

                &.no-input {
                    .content {
                        color: #666;
                    }
                }

                &.no-edit {
                    .content {
                        color: #999;
                    }
                }

                .content {
                    text-align: right;
                    flex: 1;
                }

                &.child-input {

                   .title{
                        padding-left: 40px;
                        
                        // 小圆点
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            left: 0%;
                            top: 42px;
                            width: 4Px;
                            height: 4Px;
                            background: #999;
                            border-radius: 50%;
                            box-sizing: border;
                        }
                   }
                }

                // 选择按钮
                &.input-choose {

                    // 子input item
                    &.child-input {

                        .select-title {
                            padding-left: 40px;
                            color: #333333;

                            // 小圆点
                            &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                left: 0%;
                                top: 42px;
                                width: 4Px;
                                height: 4Px;
                                background: #999;
                                border-radius: 50%;
                                box-sizing: border;
                            }
                        }
                    }

                    .content {
                        padding-right: 6px;
                    }
                }

                .name {
                    display: flex;
                }
            }

            // 下方注释
            .explain {
                font-size: 26px;
                color: #999999;
                padding-bottom: 20px;

                &.none {
                    padding-bottom: 0;
                }
            }
        }
    }
}