
.NavPreview{
  width: 373px;
  height: 80px;
  /* flex-wrap:wrap; */
  background: #EFF8FF;
}
.navList{
  display: flex;
}
.navList .navLi{
  flex:1;
  text-align:center;
  background: #F3F9FF;
  margin:  17px 0 10px 0;
}
.navList img {
  width: 30px;
  height: 26px;
}
.navList li p{
  font-size: 10px;
  text-align: center;
  line-height: 9px;
}
