@keyframes loading {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.root {
  .phone {
    height: 750px;
    padding: 0 92px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 100%;
    }
  }
  .action {
    padding: 80px 74px 86px 74px;
    .re-upload {
      margin-bottom: 40px;
    }
  }
  .footer {
    font-size: 22px;
    color: #999;
    text-align: center;
  }
  .re-shoot-modal-content {
    font-size: 26px;
    color: #666;
    height: 188px;
    text-align: center;
    padding: 40px 0 54px 0;
    > p {
      &:first-child {
        margin-bottom: 30px;
        font-size: 30px;
        color: #333;
      }
    }
  }
  .shooting-modal-content {
    width: 550px;
    height: 640px;
    padding-top: 78px;
    text-align: center;
    .shooting-modal-face {
      width: 288px;
      height: 288px;
      margin: 0 auto;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      img {
        width: 160px;
        height: 182px;
      }
      .shooting-loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background: url('../../images/loading.png') no-repeat;
        background-size: cover;
        animation: loading;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        animation-timing-function: linear;
      }
    }
    .shooting-tip {
      margin-top: 58px;
      font-size: 30px;
      color: #333;
    }
    .shooting-desc {
      margin-top: 40px;
      font-size: 26px;
      color: #333;
    }
  }
}
