
.adPreview{
    width: 373px;
    padding-top: 1px;
    position: relative;
    background: #EFF8FF;
    height: 130px;
}
.adPreview img{
  width: 100%;
  height: 130px;
}
:global(.ant-carousel .slick-slider) {
  text-align: center;
  height: 130px;
  overflow: hidden;
  position: relative;
}
:global(.ant-carousel .slick-slider .slick-list) {
  height: 130px;
}
:global(.ant-carousel .slick-track) {
  height: 130px;
}
:global(.ant-carousel .slick-dots) {
  z-index: 3;
}
:global(.ant-carousel .slick-slide img) {
  width: 100%;
}