/*容器样式*/
.wraperBox{
    background:#f5f5f5;
    min-height:900px;
    width:100%;
}
.viewBox{
    padding:20px;
    width:100%;
}
.line{
    height:1px;
    border-top:1px solid #ededed;
    width:100%;
    margin:20px 0;
}

/*标题样式*/
.select{
    font-size:16px;
}

/*操作台样式*/
.handleBox{
    border:1px solid #e2e9e7;
    background: #fff;
    padding:20px 24px 12px 24px;
}
.t1{
    clear: both;
}
.videoType{
    display: inline-block;
    height: 28px;
    font-size: 14px;
    color: #333;
    line-height: 28px;
    vertical-align: top;
    margin-right: 20px;
}
.t2{
    overflow: hidden;
}
.FileName{
    height:40px;
    background: #f2f2f2;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:3px;
    width:150px;
    overflow: hidden;
    float: left;
}
.FileName p{
    color: #2a2f31;
    margin: 12px 0 0 12px;
    width:110px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display: inline-block;

}
.chooseFile{
    display: inline-block;
    width: 87px;
    height: 28px;
    border-radius: 4px;
    vertical-align: top;
    margin:8px!important;
}
.submit{
    color: #999;
    float:left;
    vertical-align: top;
    margin:14px 0 0 14px;
}
.delete_btn {
    width: 18px;
    height: 18px;
    background-color: #333;
    float: right;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    top:11px;
    right:7px;
}
.delete_vertical {
    width: 8px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.delete_horizontal {
    width: 8px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*视频列表*/
.videoListBox{
    margin-top:20px;
    border:1px solid #e2e9e7;
    background: #fff;
    padding:20px;
    width:100%;
}
.videoListBody{
    border:1px solid #ededed;
    overflow: hidden;
    padding-bottom:20px;
}
.viedeoListTitle{
    background: #f7f9f8;
    height:40px;
    width:100%;
}
.videoIcon{
    margin:13px 0 0 13px;
    font-size:14px;
}
.videoTitleWord{
    display: inline-block;
    margin-left:8px;
}
.videoListUl{
    padding-top:25px;
    margin-left:-30px;
    overflow: hidden;
    max-width:1450px;
}
.videoCard{
    height:154px;
    width:108px;
    margin-left:65px;
    float: left;
    margin-bottom:24px;
}
.videoImgBox{
    height:110px;
    width:110px;
    position: relative;
}
.videoStartIcon{
    font-size:24px;
    color:#fff;
    position: absolute;
    left: 43px;
    top:43px;
}
.videoImg{
    position: absolute;
    height:110px;
    width:110px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.videoName{
    line-height: 18px;
    height:42px;
    text-align: -webkit-center;
    width:100%;
    padding-top:3px;
    word-break: break-all;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
@media screen and (max-width: 1500px) {
    .videoCard{
        height:154px;
        width:84px;
        margin-left:45px;
        float: left;
        margin-bottom:24px;
    }
    .videoImgBox{
        height:84px;
        width:84px;
        position: relative;
    }
    .videoStartIcon{
        font-size:24px;
        color:#fff;
        position: absolute;
        left: 28px;
        top:28px;
    }
    .videoImg{
        position: absolute;
        height:84px;
        width:84px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
    }
    .videoName{
        line-height: 18px;
        height:42px;
        text-align: -webkit-center;
        width:100%;
        padding-top:3px;
        word-break: break-all;
        overflow:hidden;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
    }
}
/*分页样式*/
.paginationBox{
    overflow: hidden;
}
.paginationHtml{
    float: right;
    margin-right:25px;
}
.paginationBox p{
    height:28px;
    line-height: 28px;
    float: right;
    margin-right:10px;
}
