.wrapper {
    flex: 1;
    overflow: auto;
    padding: 20px 1.5em;
}
.innerWrapper {
    margin: 0 auto;
    width: 805px;
}

.pageDesc, .previewPanel {
    width: 375px;
}

.pageDesc {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.previewPanel {
    border: 1px solid #e6e6e6;
    box-sizing: content-box;
}
.previewHeader {
    background-image: url("https://assets.2dfire.com/frontend/204a5c5b98152b85c9350640d0865e2c.png");
    background-size: cover;
    height: 64px;
}
.previewComponents {
    background-color: white;
    min-height: 600px;
}
