@mixin _border {
  position: relative;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  }
}

.border-top {
  @include _border;
  &:before {
    border-top: 1PX solid #ccc;
  }
}

.border-bottom {
  @include _border;
  &:before {
    border-bottom: 1PX solid #ccc;
  }
}

.border-left {
  @include _border;
  &:before {
    border-left: 1PX solid #ccc;
  }
}

.border-right {
  @include _border;
  &:before {
    border-right: 1PX solid #ccc;
  }
}

.border-all {
  @include _border;
  &:before {
    border: 1PX solid #ccc;
  }
}