/* 引用公共样式和方法 */
@import "../../base/styles/library";

/* TODO:  view 样式要使用同名ID包裹css样式 防止样式冲突 */
.wrapper-home{
    padding: 40px;
    .message {
        font-size: 28PX;
        color: red;
    }

    .msg-input {
        height: 60px;
        width: 100%;
        font-size: 28PX;
        margin-bottom: 40px;
        border: 1PX solid cadetblue;
    }

    .btn {
        height: 60px;
        width: 100%;
        background-color: cadetblue;
        border: 1PX solid cadetblue;
        border-radius: 5PX;
        margin-bottom: 40px;
    }

    .image {
        height: 100px;
        width: 100px;
        background-image: url("../images/logo.png") !important;
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
    .image-small {
        height: 50px;
        width: 50px;
        background-image: url("../images/logo-small.png") !important;
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
    .image-static {
        height: 100px;
        width: 100px;
        background-image: url("../../static/images/avatar.png") !important;
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
}


