/* 引用公共样式和方法 */
@import "../../base/styles/library";


.wrapper-menu{
    padding: 40px;
    .message {
        font-size: 28PX;
    }

    .msg-input {
        height: 60px;
        width: 100%;
        font-size: 28PX;
        margin-bottom: 40px;
    }

    .btn {
        height: 60px;
        width: 100%;
        background-color: cadetblue;
        border: 1PX solid cadetblue;
        border-radius: 5PX;
        margin-bottom: 40px;
    }
}


