.couponsPreview{
  width: 375px;
  height: 124px;
  overflow-x: auto;
  height: 110px;
  padding-top: 10px;
  background: #E1E1E5;
}
.singleCoupons{
  width: 355px;
  background-repeat:no-repeat;
  height: 90px; 
  background-size:100% 100%; 
  margin: 0 auto;
  font-size: 0;
}
.singleCouponsLeft{
  width: 254px;
  background: #F05757;
  display: inline-block;
  vertical-align: top;
  height: 90px; 
  padding: 0 17px;
  border-radius: 8px 0px 0px 8px;
}
.singleCouponsRight{
  width: 100px;
  display: inline-block;
  vertical-align: top;
  height: 90px; 
  text-align: center;
  font-size: 16px;
  color: #F05757;
  line-height: 90px;
  background: #FFFFFF;
  border-radius: 0px 8px 8px 0px;
}
.manyCouponsList{
  display: inline-block;
  vertical-align: top;
}
.manyCoupons{
  display: inline-block;
  vertical-align: top;
  width: 155px;
  background-repeat:no-repeat;
  height: 90px; 
  background-size:100% 100%; 
  margin-left:10px;
  font-size: 0;
}
.manyCouponsLeft{
  width: 132px;
  background: #F05757;
  display: inline-block;
  vertical-align: top;
  height: 90px; 
  padding: 0 17px;
  border-radius: 8px 0px 0px 8px;
}
.manyCouponsRight{
  width: 23px;
  display: inline-block;
  vertical-align: top;
  height: 90px;
  padding: 11px 0;
  text-align: center;
  font-size: 12px;
  color: #F05757;
  line-height: 16px;
  background: #FFFFFF;
  border-radius: 0px 8px 8px 0px;
}
.couponsPrice{
  width: 254px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  font-size: 36px;
  color: #FFFFFF;
}
.couponsPrice span{
  font-size: 18px;
  color: #FFFFFF;
}
.couponsType{
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 6px;
}