@import './border';

body {
  color: #333333;
  background-image: url('https://assets.2dfire.com/frontend/57bdb9f5ba122fcfcdf4809876617918.png');
  background-repeat: repeat-y;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}

body .router-view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  z-index: 99;
}

.border {
  background: #fff;
  @extend .border-top;
  @extend .border-bottom;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.clear-fix {
  overflow: hidden;
}
.c-333 {
  color: #333;
}
.c-666 {
  color: #666;
}

.c-999 {
  color: #999;
}
.c-ff9900 {
  color: #ff9900;
}

.c-ff0033 {
  color: #ff0033;
}

.c-00cc33 {
  color: #00cc33;
}

.c-666 {
  color: #666;
}

.fs-30 {
  font-size: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-30 {
  margin-top: 30px;
}
.mt-36 {
  margin-top: 36px;
}
.mb-10 {
  margin-bottom: 6px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mt-72 {
  margin-top: 72px;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plr-30 {
  padding: 0 15px;
}
.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.animated {
  -webkit-animation-duration: 400ms !important;
  animation-duration: 400ms !important;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
