.titlePickColor{
  display: inline-block;
  vertical-align: top;
  position: relative
}
.titlePickColor .btn, .titlePickColor .transparent{
  width: 50px;
  height: 36px;
  border-radius: 0;
  border: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  position: relative;
  cursor:pointer
}
.titlePickColor .boder{
  border: 1px solid #d52632;
}
.titlePickColor .btn .pickColorBtn, .titlePickColor .transparent img{
  width: 40px;
  height: 26px;
  border-radius: 0;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.titlePickColor .titleSketchPicker{
  position: absolute;
  left: 0;
  top: 29px;
  z-index: 1;
}