.rechargeListBox{
    margin-top:20px;
    border:1px solid #e2e9e7;
    background: #fff;
    padding:20px;
    width:100%;
}
.allReupload{
    margin-left:1092px;
    margin-bottom: 20px;
}
.rechargeListUl{
    overflow: auto;
    max-height:800px;
}
.rechargeTitle{
    overflow: hidden;
    border:1px solid #eaeae9;
    background: #f6f6f5;
    width:1202px;

}
.popoverHint{
    color:red;
    margin-left:4px
}
.rechargeTitle p{
    float: left;
    width:240px;
    height:40px;
    line-height: 40px;
    text-align: center;
    border-right:1px solid #eaeae9;
}
.rechargeTitle p:nth-last-child(1){
    border-right:none;
}

.rechargeLi{
    overflow: hidden;
    border:1px solid #eaeae9;
    border-top:none;
    width:1202px;

}
.rechargeLi p{
     float: left;
     width:240px;
     height:40px;
     line-height: 40px;
     text-align: center;
     border-right:1px solid #eaeae9;
 }
.rechargeLi p:nth-last-child(1){
    border-right:none;
}

/*分页样式*/
.paginationBox{
    overflow: hidden;
    margin-top:20px;
}
.paginationHtml{
    float: right;
    margin-right:25px;
}
.paginationBox p{
    height:28px;
    line-height: 28px;
    float: right;
    margin-right:10px;
}

/*弹出框*/
.modelTitle{
    font-size: 18px;
    font-weight: 600;
    margin-left:210px;
}
.modelWord{
    font-size:14px;
    margin:20px 0 0 125px;
}
.star{
    color: #d52632;
    font-size:14px;
    line-height:20px;
    display: inline-block;
    height:20px;
    margin-right:10px;
}

