/*
  TODO: 公用的颜色和长度等单位 minxin function等 放在这里, 每个组件的scss文件都可以引用,不会被打包进最终的css
*/
$theme-color: #59b9d6;
$bg-color: #eeeeef;
$btn-color: #43a0ff;
$red-color: #e32700;
$blue-color: #2272b2;
$bg-grey: rgba(255, 255, 255, 0.7);
$color-999: #999;
$color-666: #666;
$color-333: #333;
$color-fff: #fff;

/*  TODO:
  现采用 postCss(css后处理器)的插件
    px2rem处理px转rem (所有px会自动被转化为rem, 不需要转换的,请写成大写的PX)
    autoprefixer处理样式兼容自动补全
    其他: css注释请使用多行注释, 单行注释会报错
*/


@mixin font-dpr($font-size) {
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}

@mixin bg-image($image) {
  background-image: url($image);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
