@import "icon";

body {
    color: #333;
}

th {
    height: 24px;
    font-weight: normal;
    border: 1px solid #dedede;
    color: #333;
    font-size: 14px;
}

td {
    border: 1px solid #dedede;
    // height: 60px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

button {
    border: 0;
    cursor: pointer;
    outline: none;
    background: transparent;
}

input {
    border: none;
    outline: none;
}

.pd-10px {
    padding: 10px;
}

.pt-20px {
    padding-top: 20px;
}

.pb-20px {
    padding-bottom: 20px;
}

.pl-10px {
    padding-left: 10px;
}

.pr-10px {
    padding-right: 10px;
}

.ta-right {
    text-align: right;
}

.ta-left {
    text-align: left;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.fl-clear {
    clear: both;
}

a {
    color: #666;
}

a:hover {
    color: #111;
}

.page-bar {
    width: 100%;
    text-align: center;

    margin-top: 40px;
}
li{
    list-style: none;
}
.scene-a{
    color: #2D8cF0;
}
.care{
    color: #FF7F2C;
}
.second{
    margin-right: 30px;
    display: inline-block;
    font-size:14px;
}
.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    /* 触发 hasLayout */
    zoom: 1;
}
.ivu-modal-footer{
    border-top:none;
}
