/**
* zeqi@2dfire.com
*/



.logo {
    background: url('../images/logo.png');

}

.icon-crumb {
    background: url('../images/icon-crumb.png');

}

.icon-developer {
    background: url('../images/icon-developer.png');

}

.icon-verify {
    background: url('../images/icon-verify.png');

}

.icon-right {
    background: url('../images/icon-right.png');

}

.icon-log {
    background: url('../images/icon-log.png');
}

.icon-merchant {
    background: url('../images/icon-merchant.png');
}

.icon-pwd {
    background: url('../images/icon-merchant.png');
}
.icon-enter {
    background: url('../images/icon-enter.png');
}
.icon-api {
    background: url('../images/icon-api.png');
}
.icon-dev {
    background: url('../images/icon-dev.png');
}
.icon-faq {
    background: url('../images/icon-faq.png');
}

.icon-feedback {
    background: url('../images/icon-feedback.png');
}

.icon-app {
    background: url('../images/icon-app.png');
}
.icon-direct {
    background: url('../images/icon-direct.png');
}
