.baseInfo_wrapper {
  margin: 30px 0 20px;
  background: #fff;
  padding: 18px;
}

.baseInfo_wrapper text {
  height: 25px;
  font-size: 18px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: rgba(60, 65, 68, 1);
  line-height: 25px;
}

.baseInfo_content {
  margin-top: 40px;
  margin-left: 120px;
  background: #fff;
  padding: 18px;
}

.uploadTip {
  height: 17px;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 112px;
}

.downModel {
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(85, 153, 255, 1);
  line-height: 20px;
  margin-bottom: 25px;
}

.selectFileTip {
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 20px;
  margin-bottom: 13px;
}

.selectTip {
  height: 17px;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 30px;
}

a {
  color: rgba(85, 153, 255, 1);
}

.underLine {
  text-decoration: underline;
}

.progressWrapper {
  border-radius: 5px;
  border: 1px solid rgba(241, 241, 241, 1);
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: rgba(55, 55, 55, .6);
  height: 100%;
  z-index: 1000;
}

.progressTip {
  height: 17px;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 17px;
  margin-top: 15px;
}

.progressContent {
  position: relative;
  width: 390px;
  height: 140px;
  margin: 0 auto;
  top: 100px;
  padding-bottom: 24px;
  background-color: #fff;
  padding: 50px 20px 0 20px;
}

.progressSuccess {
  position: relative;
  width: 390px;
  margin: 0 auto;
  top: 100px;
  background-color: #fff;
  padding: 50px 20px 0 20px;
  display: flex;
  text-align: justify;
}

.successTip {
  width: 304px;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 17px;
  margin-left: 10px;
  padding-bottom: 20px;
}

.tipTitle {
  width: 112px;
  height: 22px;
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(102, 102, 102, 1);
  line-height: 22px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.importButton {
  width: 88px;
  height: 32px;
  background: rgba(216, 63, 63, 1);
  border-radius: 4px;
  border: 1px solid rgba(216, 63, 63, 1);
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  float: right;
}

.pb10 {
  padding-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.errorLiLeft {
  margin-bottom: -1000px;
  padding-bottom: 1000px;
}

.errorBox {
  margin-top: 20px;
  max-height: 240px;
  border: 1px solid #e2e9e7;
  overflow-y: auto;
}

.errorBox ul {
  overflow: hidden;
  border-bottom: 1px solid #e2e9e7;
}

.errorBox ul:nth-last-of-type(1) {
  overflow: hidden;
  border-bottom: none;
}

.errorBox ul li {
  float: left;
  width: 119px;
  border-right: 1px solid #e2e9e7;
  text-align: center;
  line-height: 32px;
  min-height: 32px;
}

.errorBox ul li:nth-last-of-type(1) {
  border-right: none;
  width: 219px;
}

.errorBox ul:nth-child(odd) {
  background: #f5f7f6;
}

.bread_crumb {
  width: 100%;
  height: 56px;
  padding: 0 30px;
  background: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.bread_first {
  color: #333;
  font-style: 14px;
  font-weight: 600;
  cursor: pointer;
}

.split_line {
  width:3px;
  height:19px;
  background:rgba(216,63,63,1);
  margin-right: 20px;
  display: inline- block;
}
.itemList :global(.ant-progress-bg){
  background: #108ee9;
}