.loading {
    color: #333;
}


.templates {
    display: flex;
    flex-wrap: wrap;
}

.template {
    background-color: #fafafa;
    border-radius: 1px;
    border: 1px solid #e6e6e6;
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 30px 28px;
    position: relative;
}

.subscript {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
}

.preview {
    width: 300px;
    height: 533px;
    background-size: contain;
    background-repeat: no-repeat;
}

.info {
    display: flex;
    margin-top: 24px;
    align-items: center;
    width: 300px;
}
.name {
    color: #aaa;
    flex: 1;
    font-size: 14px;
    margin-right: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.useBtn {
    background-color: #d83f3f;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 6px 30px;
    text-align: center;
    user-select: none;
}
.useBtn:active {
    background-color: #c72f2f;
}
